<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieNight</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="js/index.js" defer></script>

</head>
<body>
    
    <video id="movie"></video>
    <div id="home">
        <h1>MovieNight</h1>
        <button id="samtykke">Jeg er klar for å se gøy film!</button>
    </div>
    
</body>
</html>